.htmx-swapping {
  opacity: 75%;
  transition: all 200ms ease-in-out;
}

.htmx-indicator {
  opacity: 0;
  transition: "opacity", 200ms, ease-in-out;
}
.htmx-request.htmx-indicator {
  opacity: 1;
  transition: "opacity", 200ms, ease-in-out;
}

button {
  cursor: pointer;
}
*:disabled {
  cursor: not-allowed;
}
