{{ block "index" . }}
<html>
  <head>
    <title>TASKS</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="/js/scripts.js"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/index.css" />

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener("htmx:beforeSwap", function (evt) {
          if (evt.detail.xhr.status === 422) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          }
        });
      });
    </script>

    {{ template "styles" .}}
  </head>
  <body class="bg-zinc-800 text-white">
    {{ template "navbar" .}} {{ template "create-task" .}}
    <hr />
    {{ template "show-tasks" .}}
  </body>
</html>
{{ end }}

<!--  -->
{{ block "create-task" . }}
<form
  id="ourform"
  hx-target="#tasks"
  hx-swap="afterbegin"
  hx-post="/tasks"
  class="p-4 px-6 items-center"
  style="display: flex; gap: 16px"
>
  <div>Name: <input type="text" class="border rounded-sm" name="name" /></div>
  <div>Idea:<input type="text" class="border rounded-sm" name="idea" /></div>
  <button class="p-1 px-3 rounded-sm bg-blue-400" type="submit">
    Create Task
  </button>
  <div id="error-form"></div>
</form>
{{ end }}

<!--  -->
{{ block "show-tasks" . }}
<div id="tasks" class="container py-4">
  {{ range .Tasks}} {{ template "task" .}} {{end}}
</div>
{{end}}

<!--  -->
{{ block "task" . }}
<div hx-swap="outerHTML" id="task-{{ .Id }}" class="task p-6 border">
  <div class="flex items-center gap-2">
    <button
      hx-disabled-elt="this"
      hx-delete="/tasks/{{ .Id }}"
      hx-swap="outerHTML swap:500ms"
      hx-indicator="#delete-indicator-task-{{ .Id }}"
      hx-target="closest .task"
      style="width: 18px; height: 18px"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0z" />
        <path
          d="M4 2h16a1 1 0 011 1v1a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1zM3 6h18v16a1 1 0 01-1 1H4a1 1 0 01-1-1V6zm3 3v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0z"
        />
      </svg>
    </button>

    <div class="flex gap-4">
      <div>
        <div style="display: flex; gap: 5px">
          <span>Name:</span> <span> {{.Name}}</span>
        </div>
        <div style="display: flex; gap: 5px">
          <span>Idea:</span> <span> {{.Idea}}</span>
        </div>
      </div>
      <div class="gap-2">
        <div class="flex gap-2">
          {{ range .Tags}}
          <div class="rounded-full px-4 bg-purple-400">#{{.}}</div>
          {{end}}
        </div>
      </div>
    </div>

    <img
      src="/images/bars.svg"
      class="htmx-indicator"
      id="delete-indicator-task-{{ .Id }}"
      alt="loading"
      style="width: 1rem"
    />
  </div>

  <form
    id="change-task-{{.Id}}"
    hx-target="#task-{{.Id}}"
    hx-patch="/tasks/{{.Id}}"
    class="mt-2 px-6 flex-col"
    style="display: flex; gap: 16px"
  >
    <div class="flex items-center gap-4">
      <div>
        Change Task Name:
        <input type="text" class="border rounded-sm" name="name" />
      </div>
      <div>
        Change Task Idea:<input
          type="text"
          class="border rounded-sm"
          name="idea"
        />
      </div>
    </div>

    <div class="flex items-center gap-4">
      <div>
        Add Tag:<input type="text" class="border rounded-sm" name="tag" />
      </div>
      <button class="p-1 px-3 rounded-sm bg-orange-400" type="submit">
        ok update
      </button>
    </div>
  </form>
</div>
{{end}}

<!--  -->
{{ block "form-error" . }}
<div hx-swap-oob="innerhtml" id="error-form">
  <span style="color: red">{{ .ErrorText }}</span>
</div>
{{ end }}

<!--  -->
{{ block "form-success" . }}
<div hx-swap-oob="innerhtml" id="error-form"></div>
{{ end }}
