{{ define "footer" }}
<footer class="text-center text-zinc-500 text-sm py-4">
  <p>
    © 2025 SwagTask. All rights reserved.
    <a
      href="https://github.com/kdiffin/fem-htmx-proj"
      target="_blank"
      class="hover:text-blue-400 transition-colors duration-200"
      ><i class="fab fa-github"></i
    ></a>
  </p>
</footer>
{{ end }}
