.container {
  width: 100%;
  max-width: 80rem; /* Equivalent to Tailwind's max-w-6xl */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
}

.htmx-swapping {
  opacity: 75%;
  transition: all 200ms ease-in-out;
}

.htmx-indicator {
  opacity: 0;
  transition: "opacity", 200ms, ease-in-out;
}
.htmx-request.htmx-indicator {
  opacity: 1;
  transition: "opacity", 200ms, ease-in-out;
}

button {
  cursor: pointer;
}
*:disabled {
  cursor: not-allowed;
}
select {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #ccc transparent; /* For Firefox */
  cursor: pointer;
}

/* For WebKit browsers */
select::-webkit-scrollbar {
  width: 6px;
}

select::-webkit-scrollbar-track {
  background: transparent;
}

select::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}
